
<div class="jumbotron" style="background-color:#0275d8;">
    <div class="container" style="color:#fff;">
        <h3>Customers waiting to see an agent.
			<i ng-click="vm.UpdateQueue();" class="fa fa-refresh" style="font-size: 3em; padding-left: 50px;"></i>
		</h3>
    </div>
</div>


<div class="container">
	<div class="row"  ng-if="vm.QueueResults && vm.QueueResults.length > 0">
		<div class="col-md-12">
			<table class="table table-condensed">
				<thead>
						<th>Line Position</th>
						<th>Full Name</th>
						<th>Service</th>
						<th>Added</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="customer in vm.QueueResults">
						<td>{{customer.position}}</td>
						<td>{{customer.customer}}</td>
						<td>{{customer.service}}</td>
						<td>{{customer.create_date}}</td>
						<td><button class="btn btn-success btn-sm" ng-click="vm.RemoveFromQueue(customer);" >Complete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row" ng-if="vm.QueueResults && vm.QueueResults.length === 0">
		<div class="col-md-12">
			<div style="text-align: center;">
				<p style="padding: 15px; color:#000000; font-size: 16px;" class="bg-warning">No customers in queue!</p>
			</div>
		</div>
	</div>
</div>